h1{
    color: brown;
    text-align: center;
}

body{
    background-color: aliceblue;
}

header{
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

ul{
    border-width: 1px;
    border-style: dotted;
}

a{
    text-decoration: none;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-indent: 1em;
}

h2{
    color: blue;
    text-shadow: 3px 3px 3px skyblue;
}

footer{
    background: orange;
    border-radius: 20px 20px 20px 20px;
}


