h1{
    text-align: center;
    color: brown;
}

header{
    border-bottom-style: solid 1px;
}

span{
    color: blue;
    font-weight: 900;
}

footer{
    background: orange;
    border-radius: 20px 20px 20px 20px;
}

form{
    background: pink;
}

p{
    font-size: 1em;
}